<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="TagFilterTest">
        <classes>
            <class name="testwork.TagPageTest">
                <methods>
                    <include name="checkAllPopularTags"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>